# Copy this to one of these locations based on your usage:
#
# $CWD/.chatgpt-md-translator
# $CWD/.env
# $HOME/.config/chatgpt-md-translator/config
# $HOME/.chatgpt-md-translator

# OpenAI's API Key. You will be charged for the usage of this key.
OPENAI_API_KEY="sk-xxxxxxxxxxxxxxxxxxxxxxxxxxx"


# =====================================
# The remaining variables are optional.
# =====================================

# Base directory of the translated content.
# BASE_DIR="/path/to/my/docs-project/src/content"

# HTTPS Proxy (e.g, "https://proxy.example.com:8080")
# We also read HTTPS_PROXY from regular environment variables.
# HTTPS_PROXY=""

# Default language model.
# MODEL_NAME="gpt-3.5-turbo"

# Soft limit of the token size, used to split the file into fragments.
# FRAGMENT_TOKEN_SIZE=2048

# Sampling temperature, i.e., randomness of the generated text.
# TEMPERATURE=0.1

# If you hit the API rate limit, you can set this to a positive number.
# API is not called more frequently than the given interval (in seconds).
# API_CALL_INTERVAL=0

# The maximum number of lines for code blocks
# sent to the API as-is for context.
# CODE_BLOCK_PRESERVATION_LINES=5

# Suffixes to be added after the translated file.
# OUTPUT_SUFFIX=""