# Copy this to one of these locations based on your usage:

# Use the current working directory ($CWD) if you need a separate 
# config for each project that you are working on:
# `$CWD/.chatgpt-md-translator`
# `$CWD/.env`

# Reference $HOME if you need one config for your projects
# $HOME/.config/chatgpt-md-translator/config
# $HOME/.chatgpt-md-translator

# OpenAI's API Key. You will be charged for the usage of this key.
OPENAI_API_KEY="sk-xxxxxxxxxxxxxxxxxxxxxxxxxxx"


# The remaining variables are optional ================================

# Base directory of the translated content.
# BASE_DIR="/path/to/lang.react.dev/src/content"

# Prompt file to use for the translation.
# PROMPT_FILE="prompt.md"

# HTTPS Proxy (e.g, "https://proxy.example.com:8080")
# We also read HTTPS_PROXY from regular environment variables.
# HTTPS_PROXY=""

# Default language model.
# MODEL_NAME="gpt-3.5-turbo"

# Soft limit of the token size, used to split the file into fragments.
# FRAGMENT_TOKEN_SIZE=2048

# Sampling temperature, i.e., randomness of the generated text.
# TEMPERATURE=0.1

# If you hit the API rate limit, you can set this to a positive number.
# API is not called more frequently than the given interval (in seconds).
# API_CALL_INTERVAL=0
